footer{
    text-align: center;
}
​
.navbar-brand{
    font-weight: bold;
}
​
h1{
    margin-left: 15px;
}
​
img{
    border-radius: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

body{
    background-color: yellowgreen;
}
